*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: #eee;
  margin: 0 auto;
}

p {
  line-height: 1.45;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  max-width: 100vw;
  padding: 0 15px;
}

.course {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  max-width: calc(60ch + 150px);
}

@media (min-width: 576px) {
  .course {
    flex-direction: row;
  }
}

.course__image {
  margin-right: 10px;
  margin-bottom: 10px;
  flex-shrink: 0;
}

.course__image img {
  width: 100%;
  height: auto;
}

@media (min-width: 576px) {
  .course__image {
    margin-bottom: 0;
  }

  .course__image img {
    width: 150px;
  }
}

.course__details {
  max-width: 60ch;
  flex-grow: 1;
}

.course__title {
  margin-top: 0;
}

.course__summary {
  word-break: break-all;
}
